---
import { getCollection } from 'astro:content';
import { getAllTagGroups, getBlogUrl, sortPosts } from '../../utils/blog';

export async function getStaticPaths() {
  const posts = sortPosts(await getCollection('blog'));
  const tags = getAllTagGroups(posts);

  return tags.map((tag) => ({
    params: { tag: tag.slug },
    props: { redirectUrl: getBlogUrl({ tag: tag.slug }) },
  }));
}

const { redirectUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
    <link rel="canonical" href={redirectUrl} />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href={redirectUrl}>the filtered blog view</a>.</p>
  </body>
</html>