---
import SocialLinks from './SocialLinks.astro';
import { getSocialLinks, site } from '../site';

const footerSocialLinks = getSocialLinks('footer');
---

<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__meta">
      <small>{site.author}</small>
      <div class="legal-links">
        <a class="social-link" href="/privacy-policy/">Privacy</a>
        <button class="social-link social-link--button" type="button" data-cookie-settings>Cookie settings</button>
      </div>
    </div>

    <SocialLinks links={footerSocialLinks} iconOnly={true} />
  </div>
</footer>